<!DOCTYPE html>

<htm>
    <head>
        <link rel="stylesheet" href="styles.css"/>
        <script src="https://kit.fontawesome.com/7479722d42.js" crossorigin="anonymous"></script>
        <title>Give-a-Cup</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="row">
                <div>
                    <a href="index.html" class="brand">Give-a-Cup</a>
                </div>
                <div>
                    <a href="cart.html">Cart</a>
                    <a href="singin.html">Sign in</a>
                </div>
            </header>
            <main>
                <div class="row center">
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="./images/picture1.jpg" alt="product" />
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Regular coffee</h2>
                            </a>
                            <div class="rating">
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                            </div>
                            <div class="price">
                                2.50 euro
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="./images/picture1.jpg" alt="product" />
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Regular coffee</h2>
                            </a>
                            <div class="rating">
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                            </div>
                            <div class="price">
                                2.50 euro
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="./images/picture1.jpg" alt="product" />
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Regular coffee</h2>
                            </a>
                            <div class="rating">
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                            </div>
                            <div class="price">
                                2.50 euro
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="./images/picture1.jpg" alt="product" />
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Regular coffee</h2>
                            </a>
                            <div class="rating">
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                            </div>
                            <div class="price">
                                2.50 euro
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="./images/picture1.jpg" alt="product" />
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Regular coffee</h2>
                            </a>
                            <div class="rating">
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                            </div>
                            <div class="price">
                                2.50 euro
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="./images/picture1.jpg" alt="product" />
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Regular coffee</h2>
                            </a>
                            <div class="rating">
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                            </div>
                            <div class="price">
                                2.50 euro
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="row center">
                All rights reserved
            </footer>
        </div>
    </body>

</htm>